<% provide(:title, "About") %>
<body>
<h1>About</h1>
<p> The <a href="http://railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is <a href="http://railstutorial.org/book">book</a> and <a href="http://screencast.railstutorial.org/">screencast Series</a> to teach web
  development with <a href="http://rubyonrails.org">Ruby on Rails</a> This is a the sample application for the tutorial.
</p>
<h1>StaticPages#about</h1>
<p>Find me in app/views/static_pages/about.html.erb</p>
