<% provide(:title, "Help") %>
<body>
<h1>Help</h1>
<p>Get help on the ruby on Rails Tutorial at the <a href="http://railstutorial.org/#help">Rails Tutorial help section </a>.
  To get help on this sample app, see the <a href="http://www.railstutorial.org"><em>Ruby on Rails Tutorial</em></a>
</p>
<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>

