<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the Home page for the <a href="http://www.railstutorial.org">Ruby on Rails Tutorial</a> Sample Applicacion.
 
</p>
<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
